/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-cyan-blue: #81B3D2;
  --basic-dark-charcoal: #333333;
  --basic-gray: #EEEEEE;
  --basic-grayish-orange: #766357;
  --basic-light-gray: #F2F2F2;
  --basic-dark-gray: #A9A9A9;
  --basic-dark-grayish-orange: #604E43;
  --basic-darker-grayish-orange: #503E33;
  --basic-dark-cyan-blue: #669EC0;
  --basic-Shakespeare: #5496BD;
  --basic-white-smoke: #EBEBEB;
  --basic-very-dark-gray: #666666;
  --basic-taupe-gray: #888888;
}

/* Global */

body {
min-width: 1220px; /**/
margin: 0;
padding: 0;
font-family: "PT Sans", "Arial", sans-serif;
font-size: 14px;
line-height: 21px;
font-weight: 400;
color: var(--basic-taupe-gray);
text-transform: uppercase;
background-color: var(--basic-taupe-gray);
background-image: none;
background-position: top center;
background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header {
  background-color: var(--basic-white);
}

/* Main navigation */

.main-nav {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color:var(--basic-black);
  background-color: var(--basic-white);
}

.main-nav-wrapper {
  background-color: var(--basic-white);
}

.site-nav {
  font-size: 14px;
  line-height: 26px;
  list-style: none;
}

.site-nav-current a:not([href]) {
  background-color: var(--basic-white);
}

/* User navigation*/

.site-nav {
  color: var(--basic-black)
}

/*
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-white)
} */

/* Container */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.intro-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color:var(--basic-black);
  text-align: center;
}

.intro-content {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color:var(--basic-dark-charcoal);
  text-align: center;
}

/* Advantages */

.advantages-list,
.features-list {
  list-style: none;
}

.advantage-item {
  text-align: center;
  color: var(--basic-white);
}


.advantage-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.advantage-item  {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantage-item {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
}

.advantage-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark-charcoal);
}

.features-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
}

.features-list {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark-charcoal);
}

.hotels {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
}



/* Footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.footer-contacts a {
  color: var(--basic-black);
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}


.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;
}

.contacts-phone {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

/* Social buttons */

.social-button {
  color: inherit;/**/
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-dark-cyan-blue);
}

.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
}

/* Catalog filter */

.infrastructure-filter {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
}

.infrastructure-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  list-style: none;
}

.accomodation-filter {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
}

.accomodation-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  list-style: none;
}

.hotels-filter {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
}

.hotel-option {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-cyan-blue); /**/
}

.hotels {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  list-style: none;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.hotel-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark-charcoal);
}

.hotel-rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-very-dark-gray);
  background: var(--basic-light-gray);
}

.hotel-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-cyan-blue) ;
  border: none;
}

.hotel-button-color {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-grayish-orange);
  border: none;
}
