/* Fonts */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-cyan-blue: #81B3D2;
  --basic-dark-charcoal: #333333;
  --basic-gray: #EEEEEE;
  --basic-grayish-orange: #766357;
  --basic-light-gray: #F2F2F2;
  --basic-dark-gray: #A9A9A9;
  --basic-dark-grayish-orange: #604E43;
  --basic-darker-grayish-orange: #503E33;
  --basic-dark-cyan-blue: #669EC0;
  --basic-Shakespeare: #5496BD;
  --basic-white-smoke: #EBEBEB;
  --basic-very-dark-gray: #666666;
  --basic-taupe-gray: #888888;
  --basic-new-gray: #ABABAB;

}

/* Global */

body {
min-width: 1280px;
margin: 0;
padding: 0;
font-family: "PT Sans", "Arial", sans-serif;
font-size: 14px;
line-height: 21px;
font-weight: 400;
color: var(--basic-taupe-gray);
text-transform: uppercase;
background-color: var(--basic-taupe-gray);
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Main header */



/* Main navigation */
.main-nav {
  /* display: grid;*/
  position: relative;
  line-height: 26px;
  font-weight: 700;
  color:var(--basic-black);
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  justify-self: center;
  transform: translateX(-50%);
  z-index: 2;
}


/* User navigation */

.site-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  line-height: 26px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav a {
  display: block;
  padding: 15px 72px;
}


/* Try */

nav li:nth-child(1), nav li:nth-child(2) {
  float: left;
  text-align: left;
}

nav li:nth-child(3), nav li:nth-child(4) {
  float: right;
  text-align: right;
}

/* Style Guide */

nav a {

  color: var(--basic-black);
}

nav a:link {
  color: var(--basic-black);
}

nav a:hover {
  color: var(--basic-cyan-blue);
}

nav a:active {
  color: var(--basic-black);
}

nav a:visited {
  color: var(--basic-grayish-orange);
}

/* Container */



/* Picture */

.cover {
  width: 1200px;
  height: 509px;
  padding: 0;
  background-image: url(../img/shape.svg), url(../img/sedona-background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--basic-cyan-blue);
  position: relative;
  margin-bottom: 42px;
}


 .overlay-img {
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
 }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.intro {
  padding-left: 340px;
  padding-right: 341px;
  margin-bottom: 51px;
}

.intro-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;
}

.intro-content {
  line-height: 26px;
  color: var(--basic-dark-charcoal);
  text-align: center;
}

/* City promo */

.city-promo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--basic-cyan-blue);

}

.city-promo-reverse {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--basic-cyan-blue);
}

.promo-content {
text-align: center;
padding-left: 49px;
padding-right: 49px;
}
.promo-title {
font-size: 21px;
font-weight: 700;
color: var(--basic-white);
}

.promo-number {
  color: var(--basic-white);
}

.promo-description {
  color: var(--basic-white);
}

.promo-urban {
  display: flex;
}

.promo-nature {
  display: flex;
}

/* City Advice */

.city-advice {

}

.advice-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advice-note {
text-align: center;
}

.advice-title {
  font-size: 21;
  font-weight: 700;
  color: #000000;
}

.house {
  display: block;
}

.food {
  display: block;
}

.gift {
  display: block;
}
.advice-description {

}


/* City Facts */

.city-facts {
  background-color: var(--basic-gray);
}

.facts-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.city-fact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fact-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black)
}

.fact-number {

}

.fact-description {

}

.find-hotels {
  text-align: center;
  padding-right: 383px;
  padding-left: 382px;
}

.find-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
}

.find-descrition {
  line-height: 24px;
  margin: 0;
}


/* Footer */

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: var(--basic-black);
}

/* Contacts */

.footer-contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  width: 450px;
  padding-top: 23px;
}

.hashtag {

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  padding-left: 163px;
  padding-bottom: 9px;
}

.contacts-phone {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  padding-left: 121px;
}

.footer-contacts a {
  color: var(--basic-black);
}

/* Social */

.footer-social {
  width: 300px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-cyan-blue);
  margin-right: 6px;


}

/* Copyright */

.footer-copyright {
  display: flex;
  margin: 0;
  padding-left: 110px;
  padding-top: 41px;
}

.copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  padding-right: 8px;

}

.academy-logo {

}



/* Catalog filter */
.page-catalog {

}

.inner-container {

}


.filters {
  background-color: var(--basic-dark-cyan-blue);
  background-image: url("../img/background-blur.jpg");
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.inliner {
  padding-left: 73px;
  padding-right: 73px;
}
.filters-form {
  display: grid;
  grid-template-columns: 1fr 1fr;


}

.infrastructure-filter {
  font-size: 16px;
  font-weight: 700;
  color: var(--basic-white);
  border: none;


}

.infrastructure-list {
  padding: 0;
  margin: 0;
}

.infrastructure-item {
  font-weight: 400;
  color: var(--basic-white);
  list-style: none;
}

.accommodation-filter {
  font-size: 16px;
  font-weight: 700;
  color: var(--basic-white);
  border: none;
}

.accommodation-list {
  padding: 0;
  margin: 0;
}

.accommodation-item {
  font-weight: 400;
  color: var(--basic-white);
  list-style: none;
}

.cost-per-day {

}

/* Sorting */

.sorting {
  display: flex;
  align-items: center;
  align-self: baseline;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 29px;
  padding-bottom: 31px;
}


.sorting-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-right: 46px;
}

.sorting-list {
  list-style: none;
  display: flex;
  flex-grow: 1;
  padding-right: 20px;
}

.sorting-title {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  margin: 0;
}

.option-list {
  list-style: none;
  display: flex;
  margin: 0;
}

.hotel-option {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-cyan-blue);
  padding-right: 34px;
}


.arrows {
  justify-content: flex-end;
}

.arrow-up {
  padding-right: 8px;
}



/* */

.catalog {
  font-size: 14px;
  line-height: 21px;
  list-style: none;
}


.hotel-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.hotel-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2px;
  padding-top: 25px;
  padding-bottom: 25px;
}



.hotel-image {
  width: 135px;
  height: 90px;

  padding-right: 29px;

}

.hotel-info {
flex-grow: 1;
padding-right: 20px;
padding-bottom: 7px;;
}



.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 0px;

  padding-bottom: 7px;
}

.hotel-price {
  color: var(--basic-dark-charcoal);
  display: flex;
  margin: 0;
  padding-bottom: 18px;

}

.price-object {
  width: 110px;
}

.price-tag {
padding-left: 6px;
}


.hotel-buttons {
  display: flex;
  margin: 0;
  flex-wrap: wrap;

}


.hotel-button {
  display: flex;
  font-weight: 700;
  margin-right: 6px;
  color: var(--basic-white);
  background-color: var(--basic-cyan-blue) ;
  border: none;
  padding-left: 17px;
  padding-right: 16px;
  padding-top: 3px;

}

.hotel-button-color {
  display: flex;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-grayish-orange);
  border: none;
  padding-left: 17px;
  padding-right: 16px;
  padding-top: 3px;

}


.hotel-score {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 110px;
  margin: 0;
}

.stars {
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;

  padding-bottom: 40px;
}

.star {
  width: 18px;
  height: 17px;
  background-image: url(/img/icons/icon-stars.png);
  margin-right: 3px;
}



.hotel-rating {
  margin-bottom: 0;
  color: var(--basic-very-dark-gray);
  background: var(--basic-light-gray);
  padding-right: 12px;
  padding-left: 15px;
  padding-top: 3px;
  margin: 0;

}

/* Modal window */

.pop-up {

}

.modal-window-title {

}

.modal-window {
  margin-bottom: 30px;
}


.modal-window label {

}

.modal-window input {

}

.search-button {

}

/* Filter */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 317px;

  margin: 0;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-white);
}

.range-controls {
  position: relative;
  margin: 0;
  height: 20px;

  padding-top: 5px; /* */
}

.range-controls .scale {
  height: 2px;

}

.range-controls .bar {
  width: 90%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  /*position: absolute;*/
  top: 20px; /**/
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-new-gray);
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls input {
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--basic-white);
  background: transparent;
  text-align: center;
  border-radius: 2px;
  border-color: var(--basic-white);
}
